syn-v1/spec/v1.0.0/common/UBL-CommonBasicComponents-2.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Library:           DBC Core Invoice 1.0 Dev
                     http://resources.digitalbusinesscouncil.com.au/dbc/einvoicing/doctype/core-invoice/xsd/current/dbc-ci-1.0/
  Release Date:      08 June 2016
  Module:            DBC-AU/xsdrt/common/UBL-CommonBasicComponents-2.1.xsd
  Generated on:      2016-08-18 01:14z
  Copyright (c) DBC 2016. All Rights Reserved.
-->
<xsd:schema xmlns="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
            xmlns:qdt="urn:oasis:names:specification:ubl:schema:xsd:QualifiedDataTypes-2"
            xmlns:udt="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            version="2.1">
   <xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:QualifiedDataTypes-2"
               schemaLocation="UBL-QualifiedDataTypes-2.1.xsd"/>
   <xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"
               schemaLocation="UBL-UnqualifiedDataTypes-2.1.xsd"/>
   <xsd:element name="AccountingCost" type="AccountingCostType"/>
   <xsd:element name="ActualDeliveryDate" type="ActualDeliveryDateType"/>
   <xsd:element name="AdditionalInformation" type="AdditionalInformationType"/>
   <xsd:element name="AllowanceChargeReason" type="AllowanceChargeReasonType"/>
   <xsd:element name="AllowanceChargeReasonCode" type="AllowanceChargeReasonCodeType"/>
   <xsd:element name="AllowanceTotalAmount" type="AllowanceTotalAmountType"/>
   <xsd:element name="Amount" type="AmountType"/>
   <xsd:element name="BaseAmount" type="BaseAmountType"/>
   <xsd:element name="BaseQuantity" type="BaseQuantityType"/>
   <xsd:element name="BuyerReference" type="BuyerReferenceType"/>
   <xsd:element name="ChargeIndicator" type="ChargeIndicatorType"/>
   <xsd:element name="ChargeTotalAmount" type="ChargeTotalAmountType"/>
   <xsd:element name="CityName" type="CityNameType"/>
   <xsd:element name="CompanyID" type="CompanyIDType"/>
   <xsd:element name="CopyIndicator" type="CopyIndicatorType"/>
   <xsd:element name="CountrySubentity" type="CountrySubentityType"/>
   <xsd:element name="CustomizationID" type="CustomizationIDType"/>
   <xsd:element name="Description" type="DescriptionType"/>
   <xsd:element name="DocumentCurrencyCode" type="DocumentCurrencyCodeType"/>
   <xsd:element name="DocumentType" type="DocumentTypeType"/>
   <xsd:element name="DueDate" type="DueDateType"/>
   <xsd:element name="ElectronicMail" type="ElectronicMailType"/>
   <xsd:element name="EmbeddedDocumentBinaryObject"
                type="EmbeddedDocumentBinaryObjectType"/>
   <xsd:element name="EndDate" type="EndDateType"/>
   <xsd:element name="EndpointID" type="EndpointIDType"/>
   <xsd:element name="ID" type="IDType"/>
   <xsd:element name="IdentificationCode" type="IdentificationCodeType"/>
   <xsd:element name="InstructionID" type="InstructionIDType"/>
   <xsd:element name="InvoiceTypeCode" type="InvoiceTypeCodeType"/>
   <xsd:element name="InvoicedQuantity" type="InvoicedQuantityType"/>
   <xsd:element name="IssueDate" type="IssueDateType"/>
   <xsd:element name="IssueTime" type="IssueTimeType"/>
   <xsd:element name="ItemClassificationCode" type="ItemClassificationCodeType"/>
   <xsd:element name="Line" type="LineType"/>
   <xsd:element name="LineExtensionAmount" type="LineExtensionAmountType"/>
   <xsd:element name="LineID" type="LineIDType"/>
   <xsd:element name="MultiplierFactorNumeric" type="MultiplierFactorNumericType"/>
   <xsd:element name="Name" type="NameType"/>
   <xsd:element name="Note" type="NoteType"/>
   <xsd:element name="PayableAmount" type="PayableAmountType"/>
   <xsd:element name="PaymentMeansCode" type="PaymentMeansCodeType"/>
   <xsd:element name="Percent" type="PercentType"/>
   <xsd:element name="PostalZone" type="PostalZoneType"/>
   <xsd:element name="PriceAmount" type="PriceAmountType"/>
   <xsd:element name="ProfileExecutionID" type="ProfileExecutionIDType"/>
   <xsd:element name="ProfileID" type="ProfileIDType"/>
   <xsd:element name="RegistrationName" type="RegistrationNameType"/>
   <xsd:element name="ResponseCode" type="ResponseCodeType"/>
   <xsd:element name="SalesOrderID" type="SalesOrderIDType"/>
   <xsd:element name="StartDate" type="StartDateType"/>
   <xsd:element name="StatusReasonCode" type="StatusReasonCodeType"/>
   <xsd:element name="TaxAmount" type="TaxAmountType"/>
   <xsd:element name="TaxExclusiveAmount" type="TaxExclusiveAmountType"/>
   <xsd:element name="TaxExemptionReason" type="TaxExemptionReasonType"/>
   <xsd:element name="TaxInclusiveAmount" type="TaxInclusiveAmountType"/>
   <xsd:element name="TaxLevelCode" type="TaxLevelCodeType"/>
   <xsd:element name="TaxableAmount" type="TaxableAmountType"/>
   <xsd:element name="Telephone" type="TelephoneType"/>
   <xsd:element name="UBLVersionID" type="UBLVersionIDType"/>
   <xsd:element name="URI" type="URIType"/>
   <xsd:element name="Value" type="ValueType"/>
   <xsd:complexType name="AccountingCostType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:TextType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="ActualDeliveryDateType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:DateType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="AdditionalInformationType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:TextType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="AllowanceChargeReasonCodeType">
      <xsd:simpleContent>
         <xsd:restriction base="qdt:AllowanceChargeReasonCodeType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="AllowanceChargeReasonType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:TextType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="AllowanceTotalAmountType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:AmountType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="AmountType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:AmountType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="BaseAmountType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:AmountType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="BaseQuantityType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:QuantityType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="BuyerReferenceType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:TextType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="ChargeIndicatorType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:IndicatorType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="ChargeTotalAmountType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:AmountType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="CityNameType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:NameType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="CompanyIDType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:IdentifierType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="CopyIndicatorType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:IndicatorType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="CountrySubentityType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:TextType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="CustomizationIDType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:IdentifierType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="DescriptionType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:TextType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="DocumentCurrencyCodeType">
      <xsd:simpleContent>
         <xsd:restriction base="qdt:CurrencyCodeType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="DocumentTypeType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:TextType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="DueDateType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:DateType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="ElectronicMailType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:TextType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="EmbeddedDocumentBinaryObjectType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:BinaryObjectType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="EndDateType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:DateType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="EndpointIDType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:IdentifierType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="IDType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:IdentifierType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="IdentificationCodeType">
      <xsd:simpleContent>
         <xsd:restriction base="qdt:CountryIdentificationCodeType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="InstructionIDType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:IdentifierType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="InvoiceTypeCodeType">
      <xsd:simpleContent>
         <xsd:restriction base="qdt:DocumentTypeCodeType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="InvoicedQuantityType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:QuantityType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="IssueDateType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:DateType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="IssueTimeType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:TimeType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="ItemClassificationCodeType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:CodeType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="LineExtensionAmountType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:AmountType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="LineIDType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:IdentifierType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="LineType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:TextType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="MultiplierFactorNumericType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:NumericType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="NameType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:NameType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="NoteType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:TextType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="PayableAmountType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:AmountType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="PaymentMeansCodeType">
      <xsd:simpleContent>
         <xsd:restriction base="qdt:PaymentMeansCodeType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="PercentType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:PercentType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="PostalZoneType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:TextType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="PriceAmountType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:AmountType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="ProfileExecutionIDType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:IdentifierType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="ProfileIDType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:IdentifierType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="RegistrationNameType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:NameType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="ResponseCodeType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:CodeType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="SalesOrderIDType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:IdentifierType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="StartDateType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:DateType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="StatusReasonCodeType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:CodeType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="TaxAmountType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:AmountType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="TaxExclusiveAmountType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:AmountType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="TaxExemptionReasonType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:TextType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="TaxInclusiveAmountType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:AmountType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="TaxLevelCodeType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:CodeType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="TaxableAmountType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:AmountType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="TelephoneType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:TextType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="UBLVersionIDType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:IdentifierType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="URIType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:IdentifierType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="ValueType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:TextType"/>
      </xsd:simpleContent>
   </xsd:complexType>
</xsd:schema>
<!-- ===== Copyright Notice ===== --><!--
  Copyright DBC
  
  Portions copyright OASIS-Open 2016
-->