docs/CoreInvoice-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Library:           DBC Core Invoice 1.0 Dev
                     http://resources.digitalbusinesscouncil.com.au/dbc/einvoicing/doctype/core-invoice/xsd/current/dbc-ci-1.0/
  Release Date:      08 June 2016
  Module:            DBC-AU/xsdrt/maindoc/CoreInvoice-1.0.xsd
  Generated on:      2016-08-18 01:14z
  Copyright (c) DBC 2016. All Rights Reserved.
-->
<xsd:schema xmlns="urn:oasis:names:specification:ubl:schema:xsd:Invoice-2-ausdigital"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="urn:oasis:names:specification:ubl:schema:xsd:Invoice-2-ausdigital"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            version="2.1">
   <xsd:element name="Invoice" type="InvoiceType"/>
   <xsd:complexType name="InvoiceType">
      <xsd:sequence>
   <!--no usage found --> <xsd:element name="UBLExtensions" type="UBLExtensionsType" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="UBLVersionID" type="IdentifierType" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="CustomizationID" type="IdentifierType" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="ProfileID" type="IdentifierType" minOccurs="0" maxOccurs="1"/>
   <!--no usage found --> <xsd:element name="ProfileExecutionID" type="IdentifierType" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="ID" type="IdentifierType" minOccurs="1" maxOccurs="1"/>
   <!--no usage found --> <xsd:element name="CopyIndicator" type="IndicatorType" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="IssueDate" type="DateType" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="DueDate" type="DateType" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="InvoiceTypeCode" type="CodeType" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="Note" type="TextType" minOccurs="0" maxOccurs="unbounded"/>
         <xsd:element name="DocumentCurrencyCode" type="CodeType" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="BuyerReference" type="TextType" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="InvoicePeriod" type="PeriodType" minOccurs="0" maxOccurs="unbounded"/>
         <xsd:element name="OrderReference" type="OrderReferenceType" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="DespatchDocumentReference" type="DocumentReferenceType"
                      minOccurs="0"
                      maxOccurs="unbounded"/>
         <xsd:element name="ReceiptDocumentReference" type="DocumentReferenceType"
                      minOccurs="0"
                      maxOccurs="unbounded"/>
         <xsd:element name="ContractDocumentReference" type="DocumentReferenceType"
                      minOccurs="0"
                      maxOccurs="unbounded"/>
         <xsd:element name="AdditionalDocumentReference" type="DocumentReferenceType"
                      minOccurs="0"
                      maxOccurs="unbounded"/>
         <xsd:element name="AccountingSupplierParty" type="SupplierPartyType" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="AccountingCustomerParty" type="CustomerPartyType" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="PayeeParty" type="PartyType" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="Delivery" type="DeliveryType" minOccurs="0" maxOccurs="unbounded"/>
         <xsd:element name="PaymentMeans" type="PaymentMeansType" minOccurs="0" maxOccurs="unbounded"/>
         <xsd:element name="AllowanceCharge" type="AllowanceChargeType" minOccurs="0" maxOccurs="unbounded"/>
         <xsd:element name="TaxTotal" type="TaxTotalType" minOccurs="0" maxOccurs="unbounded"/>
         <xsd:element name="LegalMonetaryTotal" type="MonetaryTotalType" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="InvoiceLine" type="InvoiceLineType" minOccurs="1" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>


   <!-- ===== CCT: IdentifierType ===== -->
   <!-- =================================================================== -->
   <xsd:complexType name="IdentifierType">
      <xsd:annotation>
         <xsd:documentation xml:lang="en">A character string to identify and distinguish uniquely, one instance of an object in an identification scheme from all other objects in the same scheme together with relevant supplementary information.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="xsd:normalizedString">
            <xsd:attribute name="schemeID" type="xsd:normalizedString" use="optional">
               <xsd:annotation>
                  <xsd:documentation xml:lang="en">
                     The identification of the identification scheme.
                  </xsd:documentation>
               </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="schemeName" type="xsd:string" use="optional">
               <xsd:annotation>
                  <xsd:documentation xml:lang="en">
                     The name of the identification scheme.
                  </xsd:documentation>
               </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="schemeAgencyID" type="xsd:normalizedString" use="optional">
               <xsd:annotation>
                  <xsd:documentation xml:lang="en">
                     The identification of the agency that maintains the identification scheme.
                  </xsd:documentation>
               </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="schemeAgencyName" type="xsd:string" use="optional">
               <xsd:annotation>
                  <xsd:documentation xml:lang="en">
                     The name of the agency that maintains the identification scheme.
                  </xsd:documentation>
               </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="schemeVersionID" type="xsd:normalizedString" use="optional">
               <xsd:annotation>
                  <xsd:documentation xml:lang="en">
                     The version of the identification scheme.
                  </xsd:documentation>
               </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="schemeDataURI" type="xsd:anyURI" use="optional">
               <xsd:annotation>
                  <xsd:documentation xml:lang="en">
                     The Uniform Resource Identifier that identifies where the identification scheme data is located.
                  </xsd:documentation>
               </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="schemeURI" type="xsd:anyURI" use="optional">
               <xsd:annotation>
                  <xsd:documentation xml:lang="en">
                     The Uniform Resource Identifier that identifies where the identification scheme is located.
                  </xsd:documentation>
               </xsd:annotation>
            </xsd:attribute>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>

   <xsd:complexType name="DateType">
      <xsd:annotation>
         <xsd:documentation xml:lang="en">
            One calendar day according the Gregorian calendar.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="xsd:date"/>
      </xsd:simpleContent>
   </xsd:complexType>

   <!-- ===== CCT: CodeType ===== -->
   <!-- =================================================================== -->
   <xsd:complexType name="CodeType">
      <xsd:annotation>
         <xsd:documentation xml:lang="en">
            A character string (letters, figures, or symbols) that for brevity and/or language independence may be used to represent or replace a definitive value or text of an attribute together with relevant supplementary information.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="xsd:normalizedString">
            <xsd:attribute name="listID" type="xsd:normalizedString" use="optional">
               <xsd:annotation>
                  <xsd:documentation xml:lang="en">
                     The identification of a list of codes.
                  </xsd:documentation>
               </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="listAgencyID" type="xsd:normalizedString" use="optional">
               <xsd:annotation>
                  <xsd:documentation xml:lang="en">
                     An agency that maintains one or more lists of codes.
                  </xsd:documentation>
               </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="listAgencyName" type="xsd:string" use="optional">
               <xsd:annotation>
                  <xsd:documentation xml:lang="en">
                     The name of the agency that maintains the list of codes.
                  </xsd:documentation>
               </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="listName" type="xsd:string" use="optional">
               <xsd:annotation>
                  <xsd:documentation xml:lang="en">
                     The name of a list of codes.
                  </xsd:documentation>
               </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="listVersionID" type="xsd:normalizedString" use="optional">
               <xsd:annotation>
                  <xsd:documentation xml:lang="en">
                     The version of the list of codes.
                  </xsd:documentation>
               </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="name" type="xsd:string" use="optional">
               <xsd:annotation>
                  <xsd:documentation xml:lang="en">
                     The textual equivalent of the code content component.
                  </xsd:documentation>
               </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="languageID" type="xsd:language" use="optional">
               <xsd:annotation>
                  <xsd:documentation xml:lang="en">
                     The identifier of the language used in the code name.
                  </xsd:documentation>
               </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="listURI" type="xsd:anyURI" use="optional">
               <xsd:annotation>
                  <xsd:documentation xml:lang="en">
                     The Uniform Resource Identifier that identifies where the code list is located.
                  </xsd:documentation>
               </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="listSchemeURI" type="xsd:anyURI" use="optional">
               <xsd:annotation>
                  <xsd:documentation xml:lang="en">
                     The Uniform Resource Identifier that identifies where the code list scheme is located.
                  </xsd:documentation>
               </xsd:annotation>
            </xsd:attribute>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>

   <xsd:complexType name="TextType">
      <xsd:annotation>
         <xsd:documentation xml:lang="en">
            A character string (i.e. a finite set of characters) generally in the form of words of a language.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="xsd:string">
            <xsd:attribute name="languageID" type="xsd:language" use="optional">
               <xsd:annotation>
                  <xsd:documentation xml:lang="en">
                     The identifier of the language used in the content component.
                  </xsd:documentation>
               </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="languageLocaleID" type="xsd:normalizedString" use="optional">
               <xsd:annotation>
                  <xsd:documentation xml:lang="en">
                     The identification of the locale of the language.
                  </xsd:documentation>
               </xsd:annotation>
            </xsd:attribute>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>

   <xsd:complexType name="PeriodType">
      <xsd:sequence>
         <xsd:element name="StartDate" type="DateType" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="EndDate" type="DateType" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="OrderReferenceType">
      <xsd:sequence>
         <xsd:element name="ID" type="IdentifierType" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="SalesOrderID" type="IdentifierType" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="DocumentReferenceType">
      <xsd:sequence>
         <xsd:element name="ID" type="IdentifierType" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="DocumentType" type="TextType" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="Attachment" type="AttachmentType" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="AttachmentType">
      <xsd:sequence>
         <xsd:element name="EmbeddedDocumentBinaryObject" type="BinaryObjectType" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="ExternalReference" type="ExternalReferenceType" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>

   <!--TODO: check if update BaseBinaryObjectType will be enough -->
   <xsd:complexType name="BinaryObjectType">
      <xsd:annotation>
         <xsd:documentation xml:lang="en">
            A set of finite-length sequences of binary octets.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:restriction base="BaseBinaryObjectType">
            <xsd:attribute name="mimeCode" type="xsd:normalizedString" use="required">
               <xsd:annotation>
                  <xsd:documentation xml:lang="en">
                     The mime type of the binary object.
                  </xsd:documentation>
               </xsd:annotation>
            </xsd:attribute>
         </xsd:restriction>
      </xsd:simpleContent>
   </xsd:complexType>

   <xsd:complexType name="BaseBinaryObjectType">
      <xsd:annotation>
         <xsd:documentation xml:lang="en">
            A set of finite-length sequences of binary octets.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="xsd:base64Binary">
            <xsd:attribute name="format" type="xsd:string" use="optional">
               <xsd:annotation>
                  <xsd:documentation xml:lang="en">
                     The format of the binary content.
                  </xsd:documentation>
               </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="mimeCode" type="xsd:normalizedString" use="optional">
               <xsd:annotation>
                  <xsd:documentation xml:lang="en">
                     The mime type of the binary object.
                  </xsd:documentation>
               </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="encodingCode" type="xsd:normalizedString" use="optional">
               <xsd:annotation>
                  <xsd:documentation xml:lang="en">
                     Specifies the decoding algorithm of the binary object.
                  </xsd:documentation>
               </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="characterSetCode" type="xsd:normalizedString" use="optional">
               <xsd:annotation>
                  <xsd:documentation xml:lang="en">
                     The character set of the binary object if the mime type is text.
                  </xsd:documentation>
               </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="uri" type="xsd:anyURI" use="optional">
               <xsd:annotation>
                  <xsd:documentation xml:lang="en">
                     The Uniform Resource Identifier that identifies where the binary object is located.
                  </xsd:documentation>
               </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="filename" type="xsd:string" use="optional">
               <xsd:annotation>
                  <xsd:documentation xml:lang="en">
                     The filename of the binary object.
                  </xsd:documentation>
               </xsd:annotation>
            </xsd:attribute>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>

   <xsd:complexType name="ExternalReferenceType">
      <xsd:sequence>
         <xsd:element name="URI" type="IdentifierType" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="SupplierPartyType">
      <xsd:sequence>
         <xsd:element name="Party" type="PartyType" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="SellerContact" type="ContactType" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="PartyType">
      <xsd:sequence>
         <xsd:element name="EndpointID" type="IdentifierType" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="PartyIdentification" type="PartyIdentificationType" minOccurs="0" maxOccurs="unbounded"/>
         <xsd:element name="PartyName" type="PartyNameType" minOccurs="0" maxOccurs="unbounded"/>
         <xsd:element name="PostalAddress" type="AddressType" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="PartyTaxScheme" type="PartyTaxSchemeType" minOccurs="0" maxOccurs="unbounded"/>
         <xsd:element name="PartyLegalEntity" type="PartyLegalEntityType" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="PartyIdentificationType">
      <xsd:sequence>
         <xsd:element name="ID" type="IdentifierType" minOccurs="1" maxOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="PartyNameType">
      <xsd:sequence>
         <xsd:element name="Name" type="TextType" minOccurs="1" maxOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="AddressType">
      <xsd:sequence>
         <xsd:element name="CityName" type="TextType" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="PostalZone" type="TextType" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="CountrySubentity" type="TextType" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="AddressLine" type="AddressLineType" minOccurs="0" maxOccurs="unbounded"/>
         <xsd:element name="Country" type="CountryType" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="AddressLineType">
      <xsd:sequence>
         <xsd:element name="Line" type="TextType" minOccurs="1" maxOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="PartyTaxSchemeType">
      <xsd:sequence>
         <xsd:element name="CompanyID" type="IdentifierType" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="TaxLevelCode" type="CodeType" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="TaxScheme" type="TaxSchemeType" minOccurs="1" maxOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="TaxSchemeType">
      <xsd:sequence>
         <xsd:element name="ID" type="IdentifierType" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="PartyLegalEntityType">
      <xsd:sequence>
         <xsd:element name="RegistrationName" type="TextType" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="CompanyID" type="IdentifierType" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ContactType">
      <xsd:sequence>
         <xsd:element name="ID" type="IdentifierType" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="Telephone" type="TextType" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="ElectronicMail" type="TextType" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="CustomerPartyType">
      <xsd:sequence>
         <xsd:element name="Party" type="PartyType" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="BuyerContact" type="ContactType" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="DeliveryType">
      <xsd:sequence>
         <xsd:element name="ActualDeliveryDate" type="DateType" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="DeliveryAddress" type="AddressType" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="DeliveryParty" type="PartyType" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="PaymentMeansType">
      <xsd:sequence>
         <xsd:element name="ID" type="IdentifierType" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="PaymentMeansCode" type="CodeType" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="InstructionID" type="IdentifierType" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="PayerFinancialAccount" type="FinancialAccountType" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="PayeeFinancialAccount" type="FinancialAccountType" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="FinancialAccountType">
      <xsd:sequence>
         <xsd:element name="ID" type="IdentifierType" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="FinancialInstitutionBranch" type="BranchType" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="BranchType">
      <xsd:sequence>
         <xsd:element name="ID" type="IdentifierType" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="Name" type="TextType" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="AllowanceChargeType">
      <xsd:sequence>
         <xsd:element name="ChargeIndicator" type="IndicatorType" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="AllowanceChargeReasonCode" type="CodeType" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="AllowanceChargeReason" type="TextType" minOccurs="0" maxOccurs="unbounded"/>
         <xsd:element name="MultiplierFactorNumeric" type="NumericType" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="Amount" type="AmountType" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="BaseAmount" type="AmountType" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="TaxCategory" type="TaxCategoryType" minOccurs="0" maxOccurs="unbounded"/>
         <xsd:element name="TaxTotal" type="TaxTotalType" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="IndicatorType">
      <xsd:annotation>
         <xsd:documentation xml:lang="en">
            A list of two mutually exclusive Boolean values that express the only possible states of a property.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="xsd:boolean"/>
      </xsd:simpleContent>
   </xsd:complexType>

   <xsd:complexType name="NumericType">
      <xsd:annotation>
         <xsd:documentation xml:lang="en">
            Numeric information that is assigned or is determined by calculation, counting, or sequencing. It does not require a unit of quantity or unit of measure.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="xsd:decimal">
            <xsd:attribute name="format" type="xsd:string" use="optional">
               <xsd:annotation>
                  <xsd:documentation xml:lang="en">
                     Whether the number is an integer, decimal, real number or percentage.
                  </xsd:documentation>
               </xsd:annotation>
            </xsd:attribute>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>

   <xsd:complexType name="AmountType">
      <xsd:annotation>
         <xsd:documentation xml:lang="en">
            A number of monetary units specified using a given unit of currency.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:restriction base="BaseAmountType">
            <xsd:attribute name="currencyID" type="xsd:normalizedString" use="required">
               <xsd:annotation>
                  <xsd:documentation xml:lang="en">
                     The currency of the amount.
                  </xsd:documentation>
               </xsd:annotation>
            </xsd:attribute>
         </xsd:restriction>
      </xsd:simpleContent>
   </xsd:complexType>

   <xsd:complexType name="BaseAmountType">
      <xsd:annotation>
         <xsd:documentation xml:lang="en">
            A number of monetary units specified in a currency where the unit of the currency is explicit or implied.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="xsd:decimal">
            <xsd:attribute name="currencyID" type="xsd:normalizedString" use="optional">
               <xsd:annotation>
                  <xsd:documentation xml:lang="en">
                     The currency of the amount.
                  </xsd:documentation>
               </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="currencyCodeListVersionID" type="xsd:normalizedString" use="optional">
               <xsd:annotation>
                  <xsd:documentation xml:lang="en">
                     The VersionID of the UN/ECE Rec9 code list.
                  </xsd:documentation>
               </xsd:annotation>
            </xsd:attribute>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>

   <xsd:complexType name="TaxCategoryType">
      <xsd:sequence>
         <xsd:element name="ID" type="IdentifierType" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="Percent" type="NumericType" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="TaxExemptionReason" type="TextType" minOccurs="0" maxOccurs="unbounded"/>
         <xsd:element name="TaxScheme" type="TaxSchemeType" minOccurs="1" maxOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="TaxTotalType">
      <xsd:sequence>
         <xsd:element name="TaxAmount" type="AmountType" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="TaxSubtotal" type="TaxSubtotalType" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="TaxSubtotalType">
      <xsd:sequence>
         <xsd:element name="TaxableAmount" type="AmountType" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="TaxAmount" type="AmountType" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="TaxCategory" type="TaxCategoryType" minOccurs="1" maxOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="MonetaryTotalType">
      <xsd:sequence>
         <xsd:element name="LineExtensionAmount" type="AmountType" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="TaxExclusiveAmount" type="AmountType" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="TaxInclusiveAmount" type="AmountType" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="AllowanceTotalAmount" type="AmountType" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="ChargeTotalAmount" type="AmountType" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="PayableAmount" type="AmountType" minOccurs="1" maxOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="InvoiceLineType">
      <xsd:sequence>
         <xsd:element name="ID" type="IdentifierType" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="Note" type="TextType" minOccurs="0" maxOccurs="unbounded"/>
         <xsd:element name="InvoicedQuantity" type="QuantityType" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="LineExtensionAmount" type="AmountType" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="AccountingCost" type="TextType" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="InvoicePeriod" type="PeriodType" minOccurs="0" maxOccurs="unbounded"/>
         <xsd:element name="DocumentReference" type="DocumentReferenceType" minOccurs="0" maxOccurs="unbounded"/>
         <xsd:element name="AllowanceCharge" type="AllowanceChargeType" minOccurs="0" maxOccurs="unbounded"/>
         <xsd:element name="TaxTotal" type="TaxTotalType" minOccurs="0" maxOccurs="unbounded"/>
         <xsd:element name="Item" type="ItemType" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="Price" type="PriceType" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="QuantityType">
      <xsd:annotation>
         <xsd:documentation xml:lang="en">
            A counted number of non-monetary units possibly including fractions.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="xsd:decimal">
            <xsd:attribute name="unitCode" type="xsd:normalizedString" use="optional">
               <xsd:annotation>
                  <xsd:documentation xml:lang="en">
                     The unit of the quantity
                  </xsd:documentation>
               </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="unitCodeListID" type="xsd:normalizedString" use="optional">
               <xsd:annotation>
                  <xsd:documentation xml:lang="en">
                     The quantity unit code list.
                  </xsd:documentation>
               </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="unitCodeListAgencyID" type="xsd:normalizedString" use="optional">
               <xsd:annotation>
                  <xsd:documentation xml:lang="en">
                     The identification of the agency that maintains the quantity unit code list
                  </xsd:documentation>
               </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="unitCodeListAgencyName" type="xsd:string" use="optional">
               <xsd:annotation>
                  <xsd:documentation xml:lang="en">
                     The name of the agency which maintains the quantity unit code list.
                  </xsd:documentation>
               </xsd:annotation>
            </xsd:attribute>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>

   <xsd:complexType name="ItemType">
      <xsd:sequence>
         <xsd:element name="Description" type="TextType" minOccurs="0" maxOccurs="unbounded"/>
         <xsd:element name="Name" type="TextType" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="AdditionalInformation" type="TextType" minOccurs="0" maxOccurs="unbounded"/>
         <xsd:element name="SellersItemIdentification" type="ItemIdentificationType" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="StandardItemIdentification" type="ItemIdentificationType" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="CommodityClassification" type="CommodityClassificationType"
                      minOccurs="0"
                      maxOccurs="unbounded"/>
         <xsd:element name="AdditionalItemProperty" type="ItemPropertyType"
                      minOccurs="0"
                      maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ItemIdentificationType">
      <xsd:sequence>
         <xsd:element name="ID" type="IdentifierType" minOccurs="1" maxOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="CommodityClassificationType">
      <xsd:sequence>
         <xsd:element name="ItemClassificationCode" type="CodeType" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ItemPropertyType">
      <xsd:sequence>
         <xsd:element name="Name" type="TextType" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="Value" type="TextType" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="PriceType">
      <xsd:sequence>
         <xsd:element name="PriceAmount" type="AmountType" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="BaseQuantity" type="QuantityType" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="CountryType">
      <xsd:sequence>
         <xsd:element name="IdentificationCode" type="CodeType" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="UBLExtensionsType">
      <xsd:annotation>
         <xsd:documentation>
            A container for all extensions present in the document.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="UBLExtension" type="UBLExtensionType" minOccurs="1" maxOccurs="unbounded">
            <xsd:annotation>
               <xsd:documentation>
                  A single extension for private use.
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="UBLExtensionType">
      <xsd:annotation>
         <xsd:documentation>
            A single extension for private use.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="ID" type="IdentifierType" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  An identifier for the Extension assigned by the creator of the extension.
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="Name" type="TextType" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  A name for the Extension assigned by the creator of the extension.
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ExtensionAgencyID" type="IdentifierType" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  An agency that maintains one or more Extensions.
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ExtensionAgencyName" type="TextType" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  The name of the agency that maintains the Extension.
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ExtensionVersionID" type="IdentifierType" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  The version of the Extension.
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ExtensionAgencyURI" type="IdentifierType" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  A URI for the Agency that maintains the Extension.
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ExtensionURI" type="IdentifierType" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  A URI for the Extension.
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ExtensionReasonCode" type="CodeType" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  A code for reason the Extension is being included.
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ExtensionReason" type="TextType" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  A description of the reason for the Extension.
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ExtensionContent" type="ExtensionContentType" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  The definition of the extension content.
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>


   <xsd:complexType name="ExtensionContentType">
      <xsd:sequence>
         <xsd:any namespace="##other" processContents="lax"
                  minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  Any element in any namespace other than the UBL extension
                  namespace is allowed to be the apex element of an extension.
                  Only those elements found in the UBL schemas and in the
                  trees of schemas imported in this module are validated.
                  Any element for which there is no schema declaration in any
                  of the trees of schemas passes validation and is not
                  treated as a schema constraint violation.
               </xsd:documentation>
            </xsd:annotation>
         </xsd:any>
      </xsd:sequence>
   </xsd:complexType>

</xsd:schema>
<!-- ===== Copyright Notice ===== --><!--
  Copyright DBC
  
  Portions copyright OASIS-Open 2016
-->