docs/Response-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Library:           DBC Core Invoice 1.0 Dev
                     http://resources.digitalbusinesscouncil.com.au/dbc/einvoicing/doctype/core-invoice/xsd/current/dbc-ci-1.0/
  Release Date:      08 June 2016
  Module:            DBC-AU/xsdrt/maindoc/Response-1.0.xsd
  Generated on:      2016-08-18 01:14z
  Copyright (c) DBC 2016. All Rights Reserved.
-->
<xsd:schema xmlns="urn:oasis:names:specification:ubl:schema:xsd:ApplicationResponse-2-ausdigital"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="urn:oasis:names:specification:ubl:schema:xsd:ApplicationResponse-2-ausdigital"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            version="2.1">
   <xsd:element name="ApplicationResponse" type="ApplicationResponseType"/>
   <xsd:complexType name="ApplicationResponseType">
      <xsd:sequence>
         <xsd:element name="UBLExtensions" type="UBLExtensionsType" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>A container for all extensions present in the document.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="UBLVersionID" type="IdentifierType" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Identifies the earliest version of the UBL 2 schema for this document type that
                  defines all of the elements that might be encountered in the current instance.
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="CustomizationID" type="IdentifierType" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Identifies a user-defined customization of UBL for a specific use. Identifies the
                  specification of content and rules that apply to the transaction. Identifying the
                  customisation/implementation guide/contextualization of the syntax message and its extension
                  that applies to the invoice transaction, enables the receiver to apply the correct validation to
                  the received document as well as to route the document to an appropriate service for processing.
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ProfileID" type="IdentifierType" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Identifies a user-defined profile of the customization of UBL being used.
                  Identifies the DBC profile or business process context in which the transaction appears.
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ProfileExecutionID" type="IdentifierType" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  Identifies an instance of executing a profile, to associate all transactions in a collaboration allowing control of its relation to other documents exchanged as part of the same process.
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ID" type="IdentifierType" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>An identifier for this document, assigned by the sender. An invoice identifier
                  enables positive referencing the document instance for various purposes including referencing
                  between documents that are part of the same process.
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="IssueDate" type="DateType" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>The date, assigned by the sender, on which this document was issued. The date on
                  which the Invoice was created.
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="IssueTime" type="TimeType" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>The date, assigned by the sender, on which this document was issued. The date on
                  which the Invoice was created.
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="SenderParty" type="PartyType" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>The date, assigned by the sender, on which this document was issued. The date on
                  which the Invoice was created.
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ReceiverParty" type="PartyType" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>The date, assigned by the sender, on which this document was issued. The date on
                  which the Invoice was created.
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="DocumentResponse" type="DocumentResponseType" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>A response to a document.
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="UBLExtensionsType">
      <xsd:annotation>
         <xsd:documentation>
            A container for all extensions present in the document.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="UBLExtension" type="UBLExtensionType" minOccurs="1" maxOccurs="unbounded">
            <xsd:annotation>
               <xsd:documentation>
                  A single extension for private use.
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="UBLExtensionType">
      <xsd:annotation>
         <xsd:documentation>
            A single extension for private use.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="ID" type="IdentifierType" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  An identifier for the Extension assigned by the creator of the extension.
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="Name" type="TextType" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  A name for the Extension assigned by the creator of the extension.
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ExtensionAgencyID" type="IdentifierType" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  An agency that maintains one or more Extensions.
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ExtensionAgencyName" type="TextType" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  The name of the agency that maintains the Extension.
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ExtensionVersionID" type="IdentifierType" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  The version of the Extension.
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ExtensionAgencyURI" type="IdentifierType" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  A URI for the Agency that maintains the Extension.
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ExtensionURI" type="IdentifierType" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  A URI for the Extension.
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ExtensionReasonCode" type="CodeType" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  A code for reason the Extension is being included.
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ExtensionReason" type="TextType" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  A description of the reason for the Extension.
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ExtensionContent" type="ExtensionContentType" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  The definition of the extension content.
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ExtensionContentType">
      <xsd:sequence>
         <xsd:any namespace="##other" processContents="lax"
                  minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>
                  Any element in any namespace other than the UBL extension
                  namespace is allowed to be the apex element of an extension.
                  Only those elements found in the UBL schemas and in the
                  trees of schemas imported in this module are validated.
                  Any element for which there is no schema declaration in any
                  of the trees of schemas passes validation and is not
                  treated as a schema constraint violation.
               </xsd:documentation>
            </xsd:annotation>
         </xsd:any>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="IdentifierType">
      <xsd:annotation>
         <xsd:documentation xml:lang="en">A character string to identify and distinguish uniquely, one instance of an
            object in an identification scheme from all other objects in the same scheme together with relevant
            supplementary information.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="xsd:normalizedString">
            <xsd:attribute name="schemeID" type="xsd:normalizedString" use="optional">
               <xsd:annotation>
                  <xsd:documentation xml:lang="en">
                     The identification of the identification scheme.
                  </xsd:documentation>
               </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="schemeName" type="xsd:string" use="optional">
               <xsd:annotation>
                  <xsd:documentation xml:lang="en">
                     The name of the identification scheme.
                  </xsd:documentation>
               </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="schemeAgencyID" type="xsd:normalizedString" use="optional">
               <xsd:annotation>
                  <xsd:documentation xml:lang="en">
                     The identification of the agency that maintains the identification scheme.
                  </xsd:documentation>
               </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="schemeAgencyName" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The name of the agency that maintains the identification scheme.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="schemeVersionID" type="xsd:normalizedString" use="optional">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The version of the identification scheme.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="schemeDataURI" type="xsd:anyURI" use="optional">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The Uniform Resource Identifier that identifies where the identification scheme data is
                        located.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="schemeURI" type="xsd:anyURI" use="optional">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The Uniform Resource Identifier that identifies where the identification scheme is located.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>

   <xsd:complexType name="TextType">
      <xsd:annotation>
         <xsd:documentation xml:lang="en">
            A character string (i.e. a finite set of characters) generally in the form of words of a language.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="xsd:string">
             <xsd:attribute name="languageID" type="xsd:language" use="optional">
                 <xsd:annotation>
                     <xsd:documentation xml:lang="en">
                         The identifier of the language used in the content component.
                     </xsd:documentation>
                 </xsd:annotation>
             </xsd:attribute>
             <xsd:attribute name="languageLocaleID" type="xsd:normalizedString" use="optional">
                 <xsd:annotation>
                     <xsd:documentation xml:lang="en">
                         The identification of the locale of the language.
                     </xsd:documentation>
                 </xsd:annotation>
             </xsd:attribute>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>

   <xsd:complexType name="CodeType">
      <xsd:annotation>
         <xsd:documentation xml:lang="en">
            A character string (letters, figures, or symbols) that for brevity and/or language independence may be
            used to represent or replace a definitive value or text of an attribute together with relevant
            supplementary information.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="xsd:normalizedString">
            <xsd:attribute name="listID" type="xsd:normalizedString" use="optional">
               <xsd:annotation>
                  <xsd:documentation xml:lang="en">
                     The identification of a list of codes.
                  </xsd:documentation>
               </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="listAgencyID" type="xsd:normalizedString" use="optional">
               <xsd:annotation>
                  <xsd:documentation xml:lang="en">
                     An agency that maintains one or more lists of codes.
                  </xsd:documentation>
               </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="listAgencyName" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The name of the agency that maintains the list of codes.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="listName" type="xsd:string" use="optional">
               <xsd:annotation>
                  <xsd:documentation xml:lang="en">
                     The name of a list of codes.
                  </xsd:documentation>
               </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="listVersionID" type="xsd:normalizedString" use="optional">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The version of the list of codes.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="name" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The textual equivalent of the code content component.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="languageID" type="xsd:language" use="optional">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The identifier of the language used in the code name.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="listURI" type="xsd:anyURI" use="optional">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The Uniform Resource Identifier that identifies where the code list is located.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="listSchemeURI" type="xsd:anyURI" use="optional">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                        The Uniform Resource Identifier that identifies where the code list scheme is located.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>

   <xsd:complexType name="DateType">
      <xsd:annotation>
         <xsd:documentation xml:lang="en">
            One calendar day according the Gregorian calendar.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="xsd:date"/>
      </xsd:simpleContent>
   </xsd:complexType>

   <xsd:complexType name="TimeType">
      <xsd:annotation>
         <xsd:documentation xml:lang="en">
            An instance of time that occurs every day.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="xsd:time"/>
      </xsd:simpleContent>
   </xsd:complexType>

   <xsd:complexType name="PartyType">
      <xsd:annotation>
         <xsd:documentation xml:lang="en">
            A class to describe an organization, sub-organization, or individual fulfilling a role in a business
            process.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="EndpointID" type="IdentifierType" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation xml:lang="en">
                  An identifier for the end point of the routing service (e.g., EAN Location Number, GLN).
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="PartyIdentification" type="PartyIdentificationType" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
               <xsd:documentation xml:lang="en">
                  An identifier for this party.
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="PartyName" type="PartyNameType" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
               <xsd:documentation xml:lang="en">
                  A name for this party.
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <!-- TODO: comment out PostalAddress, PartyTaxScheme, PartyLegalEntity as they are not used on the xsd schema representation -->
<!-- =============================================================================================================== -->
         <xsd:element name="PostalAddress" type="AddressType" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation xml:lang="en">
                  The party's postal address.
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="PartyTaxScheme" type="PartyTaxSchemeType" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
               <xsd:documentation xml:lang="en">
                  A tax scheme applying to this party.
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="PartyLegalEntity" type="PartyLegalEntityType" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
               <xsd:documentation xml:lang="en">
                  A description of this party as a legal entity.
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
<!-- =============================================================================================================== -->
   </xsd:complexType>

   <xsd:complexType name="PartyIdentificationType">
      <xsd:annotation>
         <xsd:documentation xml:lang="en">
            A class to define an identifier for a party.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="ID" type="IdentifierType" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation xml:lang="en">
                  An identifier for the party.
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="PartyNameType">
      <xsd:annotation>
         <xsd:documentation xml:lang="en">
            A class for defining the name of a party.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="Name" type="TextType" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation xml:lang="en">
                  The name of the party.
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="DocumentResponseType">
      <xsd:annotation>
         <xsd:documentation xml:lang="en">
            A class to describe an application-level response to a document.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="Response" type="ResponseType" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation xml:lang="en">
                  A response to the document as a whole.
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="DocumentReference" type="DocumentReferenceType" minOccurs="1" maxOccurs="unbounded">
            <xsd:annotation>
               <xsd:documentation xml:lang="en">
                  A referenced document.
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="LineResponse" type="LineResponseType" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
               <xsd:documentation xml:lang="en">
                  A response to a particular line in the document.
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="DocumentReferenceType">
      <xsd:annotation>
         <xsd:documentation xml:lang="en">
            A class to define a reference to a document.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="ID" type="IdentifierType" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation xml:lang="en">
                  An identifier for the referenced document.
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="DocumentType" type="TextType" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation xml:lang="en">
                  The type of document being referenced, expressed as text.
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="LineResponseType">
      <xsd:annotation>
         <xsd:documentation xml:lang="en">
            A class to describe responses to a line in a document.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="LineReference" type="LineReferenceType" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation xml:lang="en">
                  A reference to the line being responded to.
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="Response" type="ResponseType" minOccurs="1" maxOccurs="unbounded">
         <xsd:annotation>
            <xsd:documentation xml:lang="en">
               A response to the referenced line.
            </xsd:documentation>
         </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="LineReferenceType">
      <xsd:annotation>
         <xsd:documentation xml:lang="en">
            A class to define a reference to a line in a document.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="LineID" type="IdentifierType" minOccurs="1" maxOccurs="1">
         <xsd:annotation>
            <xsd:documentation xml:lang="en">
               Identifies the referenced line in the document.
            </xsd:documentation>
         </xsd:annotation>
         </xsd:element>
         <xsd:element name="DocumentReference" type="DocumentReferenceType" minOccurs="0" maxOccurs="1">
         <xsd:annotation>
            <xsd:documentation xml:lang="en">
               A reference to the document containing the referenced line.
            </xsd:documentation>
         </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="ResponseType">
      <xsd:annotation>
         <xsd:documentation xml:lang="en">
            A class to describe an application-level response to a document.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="ResponseCode" type="CodeType" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation xml:lang="en">
                  A code signifying the type of response.
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="Description" type="TextType" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
               <xsd:documentation xml:lang="en">
                  Text describing this response.
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="Status" type="StatusType" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
               <xsd:documentation xml:lang="en">
                  A status report associated with this response.
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="StatusType">
      <xsd:annotation>
         <xsd:documentation xml:lang="en">
            A class to describe the condition or position of an object.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="StatusReasonCode" type="CodeType" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation xml:lang="en">
                  The reason for this status condition or position, expressed as a code.
               </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

</xsd:schema>
<!-- ===== Copyright Notice ===== --><!--
  Copyright DBC
  
  Portions copyright OASIS-Open 2016
-->